<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>doc</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
<div th:class="btn-info"><a href="/">назад</a></div>
<div th:class="align-content-md-start"><span th:text="${doc.text}"></span></div>

</body>
</html>