<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn-info" th:id="show">show all</button>
            <ul th:id="show" class="list-group list-group-flush">
                <div id="allresult"></div>
            </ul>
        </div>
        <div class="col-4">
            <form method="GET" action="/doc/">
                <div class="form-group">
                    <input type="text" name="id" class="form-control" data-toggle="tooltip" data-placement="right"
                           required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-info">найти по ID</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <form method="POST" action="/doc/upload" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" id="file" class="form-control-file"/><br/>
                </div>

                <button type="submit" class="btn-info">submit</button>
            </form>
        </div>
    </div>
</div>


<span th:text="${docUploadStatus}"></span>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/searchByID.js}"></script>
<script type="text/javascript" th:src="@{/js/showAll.js}"></script>
</body>
</html>